<% var college="<b>LJU<b>"%> 
    <!-- ama <b>lju malshe</b> -->
<p><%= college %></p>
<P><%- college %></P>
<%# this is comment %>
<%% this is ejs %>
<h1>Name is <%= name %> </h1>
<h2>Age is <%= age %></h2>