<form action="result"  method="post">
    subject <select name="subject">
        <option value="fsd2">fsd2</option>
        <option value="python2">python2</option>
    </select>
    name: <input type="text" name="uname">
    your marks1: <input type="number" name="marks1" min="0">
    your marks2: <input type="number" name="marks2" min="0">
    <input type="submit">
</form>